<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @comment.message %>
</p>

<p>
  <b>Commenter name:</b>
  <%= @comment.commenter_name %>
</p>

<p>
  <b>Post:</b>
  <%= @comment.post %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
