<p id="notice"><%= notice %></p>

<h1>
  <%= @author.full_name %>
</h1>
<p>
  <%= @author.username %> | 
  <%= mail_to @author.email %> | 
  <%= link_to "@#{@author.twitter}", @author.twitter_link, target: '_blank' %>
</p>

<p>
  <b>Bio:</b>
  <%= simple_format(@author.bio) %>
</p>

<hr />
<h3> <%= @author.first_name%>'s posts</h3>
<% @author.posts.each do |post| %>
  <h2><%= link_to post.title.titleize, post_path(post) %></h2>
  <h4><%= time_tag(post.published_at ) %></h4>
  <p><%= simple_format(post.body) %></p>
<% end %>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
