<nav id='primary-navigation'>
  <ul>
    <li>
      <%= link_to "Home", root_url, class: "home-link" %>
    </li>
    <li>
      <%= link_to "Home", root_url, class: "home-link" %>
    </li>
    <li>
      <%= link_to "Home", root_url, class: "home-link" %>
    </li>
    <li>
      <%= link_to "Home", root_url, class: "home-link" %>
    </li>
    <li>
      <%= link_to "Home", root_url, class: "home-link" %>
    </li>
    <li>
      <%= link_to "Home", root_url, class: "home-link" %>
    </li>   
    <li>
      <%= link_to "Home", root_url, class: "home-link" %>
    </li>                                 
  </ul>
</nav>