<nav id='primary-navigation'>
  <ul>
    <li>
      <%= link_to "Home", root_path %>
    </li>
    <li>
      <%= link_to "My Blog", posts_path %>
    </li> 
    <li>
      <%= link_to "All Authors", authors_path %>
    </li>
    <div class='pull-right'>
      <% if current_author %>
        <li>
          Logged in as <%= link_to current_author.username, author_path(current_author) %> | 
          <%= link_to "Sign Out", signout_path, method: :delete %>

        </li>
      <% else %>
        <li>
          <%= link_to 'Sign Up', signup_path %> |
           
        </li>
        <li>
          <%= link_to 'Sign In', signin_path %>    
        </li>        
      <% end %>
    </div>
  </ul>
</nav>