<h1>Our blog posts <small> (<%= @posts.count %>)</small></h1>

<% @posts.each do |post| %>
  <h2><%= post.title.titleize %></h2>
  <h4><%= post.author_name %> - <%= time_tag(post.published_at ) %></h4>
  <p><%= simple_format(post.body) %></p>
  <%= link_to 'Show', post %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: "Are you sure you want to delete #{post.author_name}'s blog post?" } %>
<% end %>


<%= link_to 'New Post', new_post_path %>
